<!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<img src="images/shakespeare-cartoon.png"> -->
<!DOCTYPE html>
<html ng-app>
  <head>
    <meta charset="utf-8">
    <title>{{ title }} World</title>
  </head>
  <body>
    <p>{{1 + 6}}</p>
    <br>
    <p>Say something to the world <input type="text" ng-model="greeting" ng-init="greeting='Hello, '"></p>
    <p>{{ title }} world!</p>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.js"></script>
  </body>
</html>
