<div class="splash-hero">
</div>


<div >
  <div class="navvy">
  <!-- ===== NAVBAR ===== -->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a href="" ng-click="$ctrl.testQuestion('chronology')" class="nav-link">chronology</a>
    </li>
    <li class="nav-item">
      <a href="" ng-click="$ctrl.testQuestion('character-origin')" class="nav-link">character-origin</a>
    </li>
    <li class="nav-item">
      <a href="" ng-click="$ctrl.testQuestion('quote-origin')" class="nav-link">quote-origin</a>
    </li>
    <li class="nav-item">
      <a href="" ng-click="$ctrl.testQuestion('character-weight')" class="nav-link">character-weight</a>
    </li>
    <li class="nav-item">
      <a href="" ng-click="$ctrl.testQuestion('word-frequency')" class="nav-link">word-frequency</a>
    </li>
    <li class="nav-item">
      <span class="score">SCORE: {{$ctrl.score}} / {{$ctrl.totalAsked}}</span>
    </li>
  </ul>
</div> <!-- navvy -->


  <!-- ===== MAIN PORTION ===== -->
  <div>
    <div class="page">
      <ngform id="answers" name="answers">
        <div class="container">
        <div class="row">


        <!-- ===== QUESTION ===== -->
        <div class="col-12 question" >
         {{$ctrl.question}}
        </div> <!-- end column -->
      </div> <!-- end row -->
      <div class="row">


        <!-- ===== QUOTE BODY ===== -->
        <div class="col-6 col-sm-6 graphic">
          <div class="preformatted-quote-text" ng-hide="!$ctrl.showQuoteBody">
            {{$ctrl.quoteBody}}
          </div>
        </div> <!-- column -->


        <!-- ===== ANSWER OPTIONS ===== -->
        <div class="col-6 col-sm-6 options-answers">
          <div class="options">

            <div ng-repeat="option in $ctrl.options track by $index" class="radio">
              <input
                id="answer_{{$index}}"
                name="answer_{{$index}}"
                ng-change="$ctrl.updateToAnswer(option.isCorrect, option.label, true, $index)"
                ng-model="checked"
                ng-init="checked=false"
                type="radio"
                name="optradio"
                ng-submit="$ctrl.temp(answer)"
              >
              <label for="answer_{{$index}}" class="is-correct-{{option.isCorrect}}">
                {{option.label}}
                <span ng-if="checked && !option.isCorrect == true" class="animate-if">  </span>
              </label>
            </div> <!-- answer-options -->
        </div> <!-- options -->


          <!-- ===== ANSWER REVEAL ===== -->
          <div class="answer">
            <div class="feedback">
              <strong>{{$ctrl.exclamation}} </strong> {{$ctrl.elaboration}}
            </div>
            <button ng-click="$ctrl.updateToQuestion()">NEXT</button "btn-hero custom-button">

          </div>
        </div> <!-- end column graphic-->
      </div> <!-- end row -->
      <div class="row">
        <div class="col-sm-12">
        </div>
      </div>
    </div>
  </div> <!-- end container -->
</ngform>
</div> <!-- row -->
</div> <!-- testing -->

</div> <!-- column -->
    <!-- <canvas id="line" class="chart chart-line" chart-data="$ctrl.chartData"
      chart-labels="$ctrl.chartLabels" chart-series="$ctrl.chartSeries" chart-options="$ctrl.chartOptions"
      chart-dataset-override="$ctrl.datasetOverride">
    </canvas> -->
  </div> <!-- encompassing div -->
</div>
