// ===== these mixins are open-source, not my own ======
@mixin bp-large {
  @media only screen and (min-width: map_get($grid-breakpoints, "lg")) {
    @content;
  }
}

@mixin bp-medium {
  //@media only screen and (min-width: $screen-md-min) {
  @media only screen and (min-width: map_get($grid-breakpoints, "md")) {
    @content;
  }
}

@mixin bp-lt-medium {
  //@media only screen and (max-width: $screen-md-min - 1px) {
  @media only screen and (max-width: map_get($grid-breakpoints, "md") - 1px) {
    @content;
  }
}

@mixin bp-small {
  //@media only screen and (min-width: $screen-sm-min) {
  @media only screen and (min-width: map_get($grid-breakpoints, "sm")) {
    @content;
  }
}

@mixin bp-lt-small {
  //@media only screen and (max-width: $screen-sm-min - 1px) {
  @media only screen and (max-width: map_get($grid-breakpoints, "sm") - 1px) {
    @content;
  }
}

@mixin bp-xsmall {
  //@media only screen and (min-width: $screen-xs-min) {
  @media only screen and (min-width: map_get($grid-breakpoints, "xs")) {
    @content;
  }
}

// my own mixins
@mixin header-text-regular {
  font-family: 'Raleway', sans-serif;
  font-weight: regular;
}

@mixin body-text-regular {
  font-family: 'Open Sans', sans-serif;
  font-weight: regular;
}

@mixin header-text-bold {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

@mixin body-text-bold {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

@mixin medieval-text-regular {
font-family: 'MedievalSharp', cursive;
font-weight: regular;
}

@mixin medieval-text-bold {
font-family: 'MedievalSharp', cursive;
font-weight: bold;
}

@mixin handwriting-regular {
font-family: 'Fondamento', cursive;
font-weight: regular;
}
