$body-bg: white;
$recurring-black: rgba(36, 32, 56, 1);
$recurring-blue: rgba(88, 132, 149, 1);
$faded-recurring-blue: rgba(88, 132, 149, .75);
$recurring-grey: rgba(202, 196, 206, 0.8);
$recurring-green: rgba(78, 139, 101, 1);
$recurring-white: rgba(245, 245, 245, 1);
$recurring-charcoal: rgba(20,20,20,.75);
$recurring-coral: rgba(224, 97, 82, 1);
$faded-recurring-coral: rgba(224, 97, 82, .75);
