@import 'variables';
@import 'vendor/bootstrap/bootstrap';
@import 'mixins';

// below is default stuff for small screen
// breakpoints are the same as bootstrap's
body{
  background-color: #cccccc;
}

// below are instructions for changes to make when viewed on large screen
@include bp-large{
  body{
    background-color: #465C80;
  }
}

// !!!!!!!!!
.page {
  .graphic {
    img {
      max-width: 100%;
      
    }
  }
}
