@import 'variables';
@import 'vendor/bootstrap/bootstrap';
@import 'mixins';
@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=MedievalSharp');
@import url('https://fonts.googleapis.com/css?family=Fondamento');

// variables
$recurring-black: rgba(36, 32, 56, 1);
$recurring-blue: rgba(88, 132, 149, 1);
$recurring-grey-blue: #4D6172;
$recurring-grey: rgba(202, 196, 206, 0.8);
$recurring-green: rgba(78, 139, 101, 1);
$recurring-white: rgba(245, 245, 245, 1);
$recurring-charcoal: rgba(20,20,20,.75);
$recurring-coral: rgba(224, 97, 82, 1);

body {
  background-color: white;
  @include body-text-regular;
}

html, body{
  padding:0;
  margin:0;
}

.navvy {
  padding: 15px;
  position: relative;
  background: white;
  background-color: rgba(255, 255, 255, .5);

  .score {
    font-size: 16px;
    color: $recurring-coral;
    font-weight: bold;
    font-size: 16px;
    display: block;
    padding: 0.5em 1em;
  }

  .nav-item {

    .nav-link {
      color: $recurring-black;
      font-size: 16px;
    }

    .nav-link:active {
      color: $recurring-grey-blue;
    }
  }
}

.splash-hero {
  background-size: cover;
  background-image: url("../images/ophelia.jpg");
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-position: top center;
  position: fixed;

  .hero-meat {

    position: absolute;
    top: 50%;
    color: white;
    transform: translateY(-45%);
    right: 0;
    left: 0;
    text-align: center;
    padding: 50px;
    background-color: rgba(0,0,0,.35);

    h1 {
      @include header-text-regular;
      font-size: 60px;
      line-height: 125%;
      text-shadow: 1px 0px 6px black;
    }

    h2 {
      font-family: 'Raleway', sans-serif;
      font-size: 30px;
      font-weight: 400;
      line-height: 125%;
      padding-top: 46px;
      padding-bottom: 60px;
      text-shadow: 1px 0px 6px black;
    }

    .btn-container {

    }

    .btn-hero {

      @include body-text-bold;
      display: inline-block;
      padding: 10px 30px;
      border-radius: 13px;
      color: white;
      text-transform: uppercase;
      background-color: rgba(224, 97, 82, .75);
      transition: background-color .25s;

      &:hover {
        text-decoration: none;
        background-color: $recurring-coral;
      }
    }
  }
} // splash-hero


@include bp-large {
  body {
    background-color: white;
    color: $recurring-black
  }
}

%generic-box {
  padding: 10px;
  margin-bottom: 15px;
}

.page-wrapper {
  overflow: hidden;
}

.page {
  max-width: 900px;
  background-color: rgba(0,0,0,.5);
  padding-top: 25px;
  color: $recurring-white;
  margin: -15px;

  .darkened {
    background-color: rgba(0,0,0,.3);
  }

  .inset-10 {
    padding: 15px;
    box-shadow: 5px 5px 15px rgba(20,20,20,.75);
    background-color: rgba(255,255,255,.5);
  }

  .question {
    @include header-text-regular;
    font-size: 24px;
    margin: 0 0 20px 0;
    padding: 25px;

    a {
      color: $recurring-white;
      opacity: 0;
    }
  } // question

  .graphic {
    position: relative;

    img {
      max-width: 100%;
    }

    .preformatted-quote-text {
      @include handwriting-regular;
      color: black;
      padding: 0 10px;
      overflow: auto;
      white-space: pre;
    }
  }

  @include bp-small {
    .graphic {
      min-height: 356px;
    }

    .preformatted-quote-text {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right:0;
    }
  }

  @include bp-large {
    .graphic {
      max-height: 300px;

      img {
        max-width: 100%;
      }

      .preformatted-quote-text {
        white-space: pre;
      }
    }
  }


  .options {

    input[type='radio'] {
      display: none;
    }

    input[type='radio']+label {
      &:before{
        content:"";
        display: inline-block;
        border:2px solid $recurring-white;
        border-radius: 10px;
        height:20px;
        width:20px;
        margin-right: 10px;
      }
    }

    input[type='radio']:checked+label {
      font-weight: bold;

      &:before {
        background-color: #cccccc;
      }

      &.is-correct-true {

        &:before {
          background-color:$recurring-green;
        }
      }

      &.is-correct-false {

        &:before {
          background-color:$recurring-coral;
        }
      }

      &.is-correct-true {
        color:$recurring-white;

      }

      &.is-correct-false {
        color:$recurring-white;

        &:after {
          content:"X";
          color: $recurring-coral;
          display: inline-block;
        }
      }
    }

    .radio {
        font-size: 20px;

        .answered {
          color: $recurring-blue;
        }

        .unanswered {
          color: $recurring-charcoal;
        }
    } // ul


    ul {

      li {
        font-size: 25px;

        .unanswered {
          color: $recurring-charcoal;
        }
      } // li
    } // ul

    @extend %generic-box;

  } // options

  .answer {
    @extend %generic-box;
    font-size: 25px;
    margin-bottom: 0px;
    position: relative;

    .feedback {
      text-align: center;
    }
  } // answer

  .testing {
    padding-top: 50px;
    margin-top: 100px;

    h3 {
      color: $recurring-grey;
    }
  }
} // page


.btn-next {
  @include body-text-bold;
  padding: 10px 20px;
  border: 0;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 35px;
  background-color: rgba(88, 132, 149, .75);
  transition: background-color .25s;

  &:hover {
    text-decoration: none;
    background-color: $recurring-blue;
  }

  &:focus {
    outline: 1px solid $recurring-blue;
  }
}

@include bp-small {
  .btn-next {
    width: auto;
    float: right;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin-bottom: 0px;
  }
}

@include bp-small {
  .answer {
    min-height: 200px;
  }
}

// anything from 'small' on up
@include bp-small {
  .page {
    padding: 25px;
    margin: auto;

    .question {
      font-size: 35px;
      min-height: 150px;

      &:before {
        @include medieval-text-regular;
        content: "Q:";
        display: inline-block;
        font-size: 80px;
        float: left;
        margin-top: -10px;
        padding-right: 20px;
      }
    }

    .answer {
      overflow: auto;
    }
  }
} // @include
